In [3]:
import os
os.getcwd()

'c:\\Users\\Madhav\\Desktop\\github projects\\football projects\\best EPL Team\\notebook'

In [7]:
import pandas as pd

df = pd.read_csv("../data/raw/E0.csv")
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88

In [8]:
df.shape

(380, 106)

In [9]:
df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Columns: 106 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(8)
memory usage: 314.8+ KB

In [11]:
df.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,...,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,379.000000,379.000000,380.000000,380.000000
mean,1.800000,1.478947,0.734211,0.626316,15.402632,12.181579,5.436842,4.431579,10.744737,11.347368,...,2.441474,-0.317763,1.948474,1.960342,1.956026,1.970842,2.007625,2.015013,1.931342,1.938342
std,1.365616,1.277811,0.831687,0.823367,6.261959,5.467696,2.885449,2.526493,3.457331,3.674826,...,0.579034,0.994633,0.095261,0.092575,0.093347,0.094153,0.093987,0.097664,0.085516,0.085297
min,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,2.000000,2.000000,...,1.530000,-3.000000,1.680000,1.730000,1.730000,1.780000,1.810000,1.820000,1.760000,1.760000
25%,1.000000,1.000000,0.000000,0.000000,11.000000,8.000000,3.000000,3.000000,8.000000,9.000000,...,2.037500,-1.000000,1.880000,1.890000,1.880000,1.890000,1.930000,1.930000,1.860000,1.860000
50%,2.000000,1.000000,1.000000,0.000000,15.000000,11.000000,5.000000,4.000000,11.000000,11.000000,...,2.300000,-0.250000,1.950000,1.980000,1.950000,1.970000,2.000000,2.010000,1.925000,1.940000
75%,3.000000,2.000000,1.000000,1.000000,19.000000,15.000000,7.000000,6.000000,13.000000,14.000000,...,2.740000,0.250000,2.030000,2.040000,2.032500,2.042500,2.080000,2.090000,2.010000,2.010000
max,6.000000,8.000000,4.000000,5.000000,36.000000,30.000000,15.000000,15.000000,20.000000,22.000000,...,5.170000,2.000000,2.140000,2.150000,2.170000,2.230000,2.290000,2.280000,2.120000,2.130000

In [12]:
df.columns.tolist()

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

In [13]:
home = df[[
    'Date','HomeTeam','AwayTeam',
    'FTHG','FTAG','FTR',
    'HS','HST','HC','HF','HY','HR'
]].copy()

home.columns = [
    'Date','Team','Opponent',
    'GoalsFor','GoalsAgainst','Result',
    'Shots','ShotsOnTarget','Corners','Fouls','Yellow','Red'
]

home['Venue'] = 'Home'
home['Points'] = home['Result'].map({'H':3,'D':1,'A':0})

In [14]:
away = df[[
    'Date','AwayTeam','HomeTeam',
    'FTAG','FTHG','FTR',
    'AS','AST','AC','AF','AY','AR'
]].copy()

away.columns = [
    'Date','Team','Opponent',
    'GoalsFor','GoalsAgainst','Result',
    'Shots','ShotsOnTarget','Corners','Fouls','Yellow','Red'
]

away['Venue'] = 'Away'
away['Points'] = away['Result'].map({'A':3,'D':1,'H':0})

In [15]:
team_df = pd.concat([home, away], ignore_index=True)

In [16]:
team_df['ShotAccuracy'] = team_df['ShotsOnTarget'] / team_df['Shots']
team_df['GoalConversion'] = team_df['GoalsFor'] / team_df['ShotsOnTarget']
team_df['CleanSheet'] = (team_df['GoalsAgainst'] == 0).astype(int)

In [18]:
team_df.info()
team_df.isna().sum().sort_values(ascending=False).head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            760 non-null    object
 1   Team            760 non-null    object
 2   Opponent        760 non-null    object
 3   GoalsFor        760 non-null    int64
 4   GoalsAgainst    760 non-null    int64
 5   Result          760 non-null    object
 6   Shots           760 non-null    int64
 7   ShotsOnTarget   760 non-null    int64
 8   Corners         760 non-null    int64
 9   Fouls           760 non-null    int64
 10  Yellow          760 non-null    int64
 11  Red             760 non-null    int64
 12  Venue           760 non-null    object
 13  Points          760 non-null    int64
 14  ShotAccuracy    760 non-null    float64
 15  GoalConversion  754 non-null    float64
 16  CleanSheet      760 non-null    int64
dtypes: float64(2), int64(10), object(5)
memory usage: 101.1+ KB

GoalConversion    6
Date              0
Team              0
GoalsFor          0
Opponent          0
Result            0
Shots             0
ShotsOnTarget     0
GoalsAgainst      0
Corners           0
dtype: int64

In [19]:
team_df['ShotAccuracy'] = team_df['ShotsOnTarget'] / team_df['Shots']
team_df['GoalConversion'] = team_df['GoalsFor'] / team_df['ShotsOnTarget']

team_df.replace([float('inf'), -float('inf')], 0, inplace=True)
team_df.fillna(0, inplace=True)

In [20]:
team_df['Result'].value_counts()

Result
H    350
A    246
D    164
Name: count, dtype: int64

In [21]:
summary = team_df.groupby('Team').agg(
    Matches=('Team','count'),
    Points=('Points','sum'),
    Wins=('Points', lambda x: (x==3).sum()),
    Draws=('Points', lambda x: (x==1).sum()),
    Losses=('Points', lambda x: (x==0).sum()),
    GoalsFor=('GoalsFor','sum'),
    GoalsAgainst=('GoalsAgainst','sum'),
    Shots=('Shots','sum'),
    ShotsOnTarget=('ShotsOnTarget','sum'),
    Corners=('Corners','sum'),
    CleanSheets=('CleanSheet','sum')
).reset_index()

summary['GoalDiff'] = summary['GoalsFor'] - summary['GoalsAgainst']
summary = summary.sort_values(['Points','GoalDiff'], ascending=False)

In [22]:
summary.to_csv("../data/processed/team_summary.csv", index=False)

In [24]:
team_df.to_csv("../data/processed/matches_cleaned.csv", index=False)