In [ ]:
import pandas as pd
team_df = pd.read_csv("../data/processed/matches_cleaned.csv")
summary = pd.read_csv("../data/processed/team_summary.csv")

summary.head()

,Team,Matches,Points,Wins,Draws,Losses,GoalsFor,GoalsAgainst,Shots,ShotsOnTarget,Corners,CleanSheets,GoalDiff
0,Man City,38,91,28,7,3,96,34,690,278,282,13,62
1,Arsenal,38,89,28,5,5,91,29,657,227,256,18,62
2,Liverpool,38,82,24,10,4,86,41,790,277,287,10,45
3,Aston Villa,38,68,20,8,10,76,61,514,190,233,8,15
4,Tottenham,38,66,20,6,12,74,61,582,214,235,7,13

In [9]:
team_df.head()

,Date,Team,Opponent,GoalsFor,GoalsAgainst,Result,Shots,ShotsOnTarget,Corners,Fouls,Yellow,Red,Venue,Points,ShotAccuracy,GoalConversion,CleanSheet
0,11/08/2023,Burnley,Man City,0,3,A,6,1,6,11,0,1,Home,0,0.166667,0.000000,0
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,15,7,8,12,2,0,Home,3,0.466667,0.285714,0
2,12/08/2023,Bournemouth,West Ham,1,1,D,14,5,10,9,1,0,Home,1,0.357143,0.200000,0
3,12/08/2023,Brighton,Luton,4,1,H,27,12,6,11,2,0,Home,3,0.444444,0.333333,0
4,12/08/2023,Everton,Fulham,0,1,A,19,9,10,12,0,0,Home,0,0.473684,0.000000,0

In [12]:
# Do teams with more shots always score more goals?

In [13]:
attack_summary = (
    team_df
    .groupby('Team', as_index=False)
    .agg({
        'Shots': 'sum',
        'GoalsFor': 'sum',
        'Points': 'sum'
    })
)

# derived metrics
attack_summary['GoalConversion'] = attack_summary['GoalsFor'] / attack_summary['Shots']

In [27]:
attack_summary\
    .sort_values('GoalsFor', ascending=False)\
    .head(20)

                Team  Shots  GoalsFor  Points  GoalConversion
12          Man City    690        96      91        0.139130
0            Arsenal    657        91      89        0.138508
10         Liverpool    790        86      82        0.108861
14         Newcastle    551        85      60        0.154265
6            Chelsea    548        77      63        0.140511
1        Aston Villa    514        76      68        0.147860
17         Tottenham    582        74      66        0.127148
18          West Ham    450        60      52        0.133333
7     Crystal Palace    456        57      49        0.125000
13        Man United    550        57      60        0.103636
3          Brentford    473        56      39        0.118393
4           Brighton    562        55      48        0.097865
9             Fulham    500        55      47        0.110000
2        Bournemouth    542        54      48        0.099631
11             Luton    431        52      26        0.120650
19            Wolves    427        50      46        0.117096
15     Nott'm Forest    451        49      36        0.108647
5            Burnley    433        41      24        0.094688
8            Everton    507        40      48        0.078895
16  Sheffield United    368        35      16        0.095109

In [36]:
attack_summary.to_csv('../data/insights/insight_01_attacking_efficiency.csv', index=False)

In [37]:
# Thus we can coclude that teams with more shots always have a better chance of goal conversion.
# But not true in every case with more shot there are always a chance miss the shot. 
# like wise here we can see Newcastle United has the highest goal conversion ratio.
# has more goal than Manchester United.

In [38]:
#Does strong defense contribute more to league success than attack?

In [39]:
defence_summary = (
    team_df
    .groupby('Team', as_index=False)
    .agg({
        'CleanSheet': 'sum',
        'GoalsAgainst': 'sum',
        'Points': 'sum'
    })
)

defence_summary\
    .sort_values('Points', ascending=False)\
    .head(20)

                Team  CleanSheet  GoalsAgainst  Points
12          Man City          13            34      91
0            Arsenal          18            29      89
10         Liverpool          10            41      82
1        Aston Villa           8            61      68
17         Tottenham           7            61      66
6            Chelsea           8            63      63
13        Man United           9            58      60
14         Newcastle          10            62      60
18          West Ham           5            74      52
7     Crystal Palace          10            58      49
4           Brighton           6            62      48
2        Bournemouth           9            67      48
8            Everton          13            51      48
9             Fulham          10            61      47
19            Wolves           5            65      46
3          Brentford           7            65      39
15     Nott'm Forest           4            67      36
11             Luton           2            85      26
5            Burnley           2            78      24
16  Sheffield United           1           104      16

In [40]:
# thus we can conclude that Strong defensive performance (clean sheets and low goals conceded) is essential for maintaining league consistency, 
# but it does not alone guarantee the league title. 
# Elite teams combine solid defense with superior attacking efficiency.

In [42]:
defence_summary.to_csv('../data/insights/insight_02_defensive_efficiency.csv', index=False)

In [ ]:
#overperforming teams

In [54]:
overperform_df = (
    team_df
    .groupby('Team', as_index=False)
    .agg({
        'GoalsFor': 'sum',
        'Points': 'sum'
    })
)

In [55]:
overperform_df['PointsPerGoal'] = (
    overperform_df['Points'] / overperform_df['GoalsFor']
)

In [57]:
overperform_df\
    .sort_values('PointsPerGoal', ascending=False)\
    .head(20)

                Team  GoalsFor  Points  PointsPerGoal
8            Everton        40      48       1.200000
13        Man United        57      60       1.052632
0            Arsenal        91      89       0.978022
10         Liverpool        86      82       0.953488
12          Man City        96      91       0.947917
19            Wolves        50      46       0.920000
1        Aston Villa        76      68       0.894737
17         Tottenham        74      66       0.891892
2        Bournemouth        54      48       0.888889
4           Brighton        55      48       0.872727
18          West Ham        60      52       0.866667
7     Crystal Palace        57      49       0.859649
9             Fulham        55      47       0.854545
6            Chelsea        77      63       0.818182
15     Nott'm Forest        49      36       0.734694
14         Newcastle        85      60       0.705882
3          Brentford        56      39       0.696429
5            Burnley        41      24       0.585366
11             Luton        52      26       0.500000
16  Sheffield United        35      16       0.457143

In [58]:
#Football is not about scoring more goals, itâ€™s about scoring goals at the right time.

In [60]:
overperform_df.to_csv('../data/insights/insight_03_overperformers.csv', index=False)

In [61]:
#do hone advantage really matters ?

In [71]:
team_df.groupby('Venue')['Points'].mean()

Venue
Away    1.186842
Home    1.597368
Name: Points, dtype: float64